.splitScreen {
    display: flex;
    height: 50vh;
}

.item {
    /*margin: 2%;*/
    flex-grow: 2;
    width: 49vw;
    height: calc(100vh - 5rem);
}

.item:nth-child(1) {
    background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.0)), url("https://www.muscleandfitness.com/wp-content/uploads/2019/07/Hands-Clapping-Chaulk-Kettlebell.jpg?quality=86&strip=all");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 75%;
}

.item:nth-child(2) {
    flex-grow: 1;
    width: 30vw;
}

@media only screen and (max-width: 800px) {
    .item:nth-child(2) {
        flex-grow: 2;
        width: 49vw;
    }
}

@media only screen and (max-width: 600px) {
    .item:nth-child(1) {
        display: none;
    }

    .item:nth-child(2) {
        background-image: linear-gradient(to left, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.65), rgba(0, 0, 0, 0.0)), url("https://www.muscleandfitness.com/wp-content/uploads/2019/07/Hands-Clapping-Chaulk-Kettlebell.jpg?quality=86&strip=all");
        background-size: cover;
        background-repeat: no-repeat;
        background-position: 75%;
        color: white;
    }
}

.centerLogin {
    line-height: calc(100vh - 5rem);
    height: calc(100vh - 5rem);
    text-align: center;
    background-color: white;
    color: black;
}

.centerLogin div {
    line-height: 1.5;
    display: inline-block;
    vertical-align: middle;
}
