.profileHeader {
    display: flex;
}

.profileItem {
    height: 5rem;
    flex-grow: 3;
    margin-right: 2rem;
}


.profileItem:nth-child(2) {
    flex-grow: 100;
}

.fancyInput {
    background-color: unset;
    border: 2px solid #A1292B;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: .2rem;
    letter-spacing: 0.08em;
    color: black;
}

.fancyInputDisable {
    background-color: unset;
    border: 2px solid #A1292B;
    font-size: 1.2rem;
    display: block;
    padding: 0.5rem 1rem;
    font-weight: 400;
    border-radius: .2rem;
    letter-spacing: 0.08em;
    color: black;
}

.checkbox {
    border: 2px solid #1d2f56;
    margin-right: 1rem;
}

.fancyInput:focus {
    border: 3px solid var(--secondary-color);
}

.field {
    margin-right: 1rem;
}