.Navbar{
    background-color: black;
    /*border-bottom: 3px solid #8f8e8e;*/
    height: 5rem;
    display: flex;
    width: 100%;
    padding: 0 5rem;
    position: relative;
}

.userItem p {
    color: #c0bfbf;
    text-decoration: none;
    padding: 0 5px;
}

.NavLink {
    color: #c0bfbf;
    text-decoration: none;
    padding: 0 2rem;
}

.NavLinkActive {
    text-decoration: none;
    color: #A1292B;
    padding: 0 2rem;
}

.NavLink:hover {
   /*font-weight: 900;*/
    color: rgb(248, 248, 246);
    /*transition-duration: 0.5s;*/
}

.userItem {
    position: absolute;
    right: 12rem;
    cursor: pointer;
    display: flex;
}

.logo {
    cursor: pointer;
    padding-top: 1rem;
    padding-right: 5rem;
}

.logout {
    position: absolute;
    left: 70rem;
    padding: 5rem;
}

.logoutAdmin {
    position: absolute;
    left: 63rem;
    padding: 5rem;
}